.product-detail-container {
  margin-top: 100px;
  .link {
    margin-left: 20%;
    position: relative;
    text-decoration: none;
    color: inherit;
  }
    .link:hover {
    text-decoration: underline;
    }
  .product-wrapper {
    padding: 24px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
    @media (min-width: 768px) {
      flex-direction: row;
      gap: 4rem;
    }
    .product-detail-image {
      max-width: 300px;
      aspect-ratio: 1 / 1;
      flex-shrink: 0;
      &.product-detail-image img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
    }
  }
}
.quantity-selector{
  .qty-btn {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: border-width 0.3s ease-in-out, border-color 0.3s ease-in-out;
  
    &.qty-btn:hover {
      border-color: black;
    }
  }
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: left;
  .qty-number {
      display: inline-block;
      width: 24px;
      text-align: center;
    }
  
  .size-btn,
  .cart-btn {
    align-self: start;
    margin-top: 16px;
    margin-bottom: 16px;
    width: fit-content;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: border-width 0.3s ease-in-out, border-color 0.3s ease-in-out;

    &.size-btn:hover,
    &.cart-btn:hover {
      border-color: black;
    }
  }
}

.cart-item-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
  .cart-item-img {
    width: 60px !important;
    height: 75px !important;
    object-fit: contain;
    flex-shrink: 0;
  }
  .remove-btn {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: border-width 0.3s ease-in-out, border-color 0.3s ease-in-out;
    &.remove-btn:hover {
      border-color: black;
    }
  }
}