@font-face {
  font-family: "XLY";
  src: url("fonts/xylver-demo.regular.otf") format("opentype");
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: black;
  margin: 0;
  font-weight: bold;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  z-index: 999;
  background-color: white;
  display: flex;
  align-items: center;
  box-sizing:border-box;
  transform: translateX(-100%);
  transition: transform 0.8s ease-in-out;
  @media (max-width: 769px) {
      width: 80%;
      padding-top: 25%;
    }
  
  .link {
    text-decoration: none;
    color: inherit;
  }

  .link:hover {
    text-decoration: underline;
  }

  .item {
    font-size: 24px;
    list-style-type: none;
    line-height: 1.5;
  }
}

#menu.show {
  transform: translateX(0);
}

.announcement {
  position: relative;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: black;
  color: white;
  font-weight: bold;
}

.header {
  top: 0;
  padding-top: 32px;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out, padding 0.4s ease-in-out;
  &.scrolled {
    background-color: white;
    padding-bottom: 8px;
  }
  .lucytitle {
    cursor: pointer;
    font-family: "XLY";
    font-size: 48px;
    font-weight: normal;
  }
  .hamburger {
    padding: 8px;
    z-index: 99999;
    width: fit-content;
    .hamburger-btn {
      
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 24px;
      height: 18px;
      box-sizing: content-box;
      background: none;
      border: none;
      padding: 8px;
      position: relative;
    }

    .hamburger-btn.active span:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    .hamburger-btn.active span:nth-child(2) {
      opacity: 0;
    }

    .hamburger-btn.active span:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  .hamburger span {
    display: block;
    width: 100%;
    transform: scaleY(0.5);
    height: 2px;
    background-color: black;
    transition: all 0.3s ease;
  }

  .icons {
    padding: 8px;
    justify-self: end;
    display: flex;
    gap: 8px;
  }
  .icon {
    cursor: pointer;
    width: 24px;
    height: 32px;

    .icon img {
      display: block;
    }
  }

  .button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition-duration: 0.5s;
    border-radius: 10px;
  }

  .button:hover {
    background-color: rgba(217, 214, 214, 0.523);
  }
}

.headline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &.headline img {
    z-index: 1;
    width: 100%;
    }
  .summernotice {
    padding: 3px;
    position: absolute;
    z-index: 2;
    font-size: 32px;
    background-color: white;
    color: black;
  }
  .shopnow {
    position: absolute;
    z-index: 2;
    transform: translateY(150px);
    color: white;

    .shopnowbutton {
      width: 125px;
      height: 50px;
      padding: 10px;
      cursor: pointer;
      background-color: transparent;
      font-size: 18px;
      font-weight: bold;
      border: 1px solid white;
      border-style: solid;
      font-family: inherit;
      color: inherit;
      transition-duration: 0.5s;
    }
  }

  .shopnowbutton:hover {
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
  }
}

.genderselect {
  position: relative;
  margin-bottom: 32px;
  margin-top: 32px;

  .link {
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
  }
  .shopforsection {
    padding-bottom: 32px;
    background-color: rgb(235, 239, 240);
    height: 100%;
    padding-top: 8px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
  }
  .link img {
    object-fit:cover;
    max-width: 100%;
    height: 550px;
  }
  .link:hover {
    text-decoration: underline;
  }
  .test {
    font-size: 24px;
    list-style-type: none;
  }
}

.blogheadline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  &.blogheadline img {
    width: 100%;
  }
  .blogsection {
    position:absolute;
    z-index: 2;
    transform: translateY(150px);
    color: white;
  }
  .blogpost {
    padding: 3px;
    position: absolute;
    z-index: 2;
    font-size: 32px;
    background-color: white;
    color: black;
  }
  .blogbutton {
    width: 125px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid white;
    border-style: solid;
    font-family: inherit;
    color: inherit;
    transition-duration: 0.5s;
  }

  .blogbutton:hover {
    background-color: white;
    color: black;
    border-color: black;
    border-style: solid;
  }
}

.info {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 32px;
  background-color: rgb(235, 239, 240);
  .lucytitle {
    font-family: "XLY";
      font-size: 32px;
      font-weight: normal;
      margin-top: 16px;
      margin-bottom: 32px;
      width:fit-content;
  }
  .information {
    width: fit-content;
    margin-bottom: 12px;
  }
  .hr {
    border: none;
    background-color: black;
    width: 16%;
    height: 2px;
  }
  .link {
    text-decoration: none;
    color: inherit;
  }

  .link:hover {
    text-decoration: underline;
  }

  .item {
    width: fit-content;
    font-size: 16px;
    list-style-type: none;
    line-height: 3;
  }
  .github {
    width: 100px;
    height: fit-content;
    padding-top: 40px;
    padding-bottom: 16px;
    list-style-type: none;
    &.github img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}